.reviews
  margin-top: 104px
  margin-bottom: 33px
  @media ( min-width: 768px )
    margin-top: 141px
    margin-bottom: 87px
  @media ( min-width: 1200px )
    margin-top: 115px
    margin-bottom: 250px

.recording
  margin-bottom: 42px
  @media ( min-width: 768px )
    margin-bottom: 83px
  @media ( min-width: 1200px )
    margin-bottom: 78px

.swatch
  margin-bottom: 42px
  @media ( min-width: 768px )
    margin-bottom: 103px
  @media ( min-width: 1200px )
    margin-bottom: 78px

.terms
  margin-top: 70px
  margin-bottom: 102px
  @media ( min-width: 768px )
    margin-top: 92px
    margin-bottom: 116px
  @media ( min-width: 1200px )
    margin-top: 140px
    margin-bottom: 126px
.ourAgents
  margin-top: 98px
  margin-bottom: 110px
  @media ( min-width: 768px )
    margin-top: 142px
    margin-bottom: 179px
  @media ( min-width: 1200px )
    margin-top: 144px
    margin-bottom: 188px
.record
  margin-top: 102px
  margin-bottom: 110px
  @media ( min-width: 768px )
    margin-top: 113px
    margin-bottom: 172px
  @media ( min-width: 1200px )
    margin-top: 113px
    margin-bottom: 66px

