.profile
    display: none
    @media( min-width:  1440px)
        display: block
        cursor: pointer
        margin-right: 16px
        width: 28px
        height: 28px
    img
        @media( min-width:  1440px)
            width: 100%
            height: 100%
        