.products
    width: 1015px
    margin-top: 16px
    display: flex
    flex-wrap: wrap
    gap: 32px 16px
    @media (min-width: 1200px)
        gap: 64px 20px 

.cart_big
    width: 100%
    @media (min-width: 768px)
        width: 65%
    .image
        height: 247px
        @media (min-width: 768px)
            height: 320px
        @media (min-width: 1200px)
            height: 466px

.cart
    width: calc(50% - 8px)
    @media (min-width: 768px)
        width: 31%
    .image
        height: 164px
        background: url('./../../../../public/products/2.png') lightgray center/cover no-repeat
        @media (min-width: 768px)
            height: 229px
        @media (min-width: 1200px)
            height: 325px
    .name
        font-size: 16px
        line-height: 120%
        @media (min-width: 1200px)
            font-size: 20px
.image
    border: 1px solid var(--grey-300)
    background: url('./../../../../public/products/1.png') lightgray center/cover no-repeat
    margin-bottom: 20px
    
.name
    color: var(--grey-800)
    font-size: 24px
    line-height: 116%
    margin-bottom: 4px

.size
    color: var(--grey-500)
    font-size: 12px
    line-height: 133.333%
    margin-bottom: 4px

.price
    display: flex
    gap: 8px
    align-items: center
    img
        display: none
        @media (min-width: 1200px)
            width: 24px
            display: block

.new
    color: var(--grey-800)
    font-size: 18px
    line-height: normal
    @media (min-width: 1200px)
        font-size: 20px

.old
    display: none
    @media (min-width: 1200px)
        color: var(--grey-500)
        font-size: 14px
        line-height: normal
        text-decoration: line-through