.products
    width: 1015px
    margin-top: 16px
    display: flex
    flex-wrap: wrap
    gap: 64px 20px 

.cart_big
    width: 670px
    .image
        height: 466px

.cart
    width: 325px
    .image
        height: 325px
        background: url('./../../../../public/products/2.png') lightgray center/cover no-repeat
    .name
        font-size: 20px
        line-height: 120%
.image
    border: 1px solid var(--grey-300)
    background: url('./../../../../public/products/1.png') lightgray center/cover no-repeat
    margin-bottom: 20px
    
.name
    color: var(--grey-800)
    font-size: 24px
    line-height: 116%
    margin-bottom: 4px

.size
    color: var(--grey-500)
    font-size: 12px
    line-height: 133.333%
    margin-bottom: 4px

.price
    display: flex
    gap: 8px
    align-items: center
    img
        width: 24px

.new
    color: var(--grey-800)
    font-size: 20px
    line-height: normal

.old
    color: var(--grey-500)
    font-size: 14px
    line-height: normal
    text-decoration: line-through