.swiper
  &__conteiner
    display: flex
    justify-content: center
  &__image
    width: 200px
    height: 259px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-radius: 20px
    @media ( min-width: 768px )
      width: 320px
      height: 415px
    @media ( min-width: 1200px )
      width: 407.47px
      height: 529px

.swiper2
  display: flex
  justify-content: center
  width: 230px
  margin-top: 32px
  &__dots
    width: 26px
    height: 26px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-radius: 50px




