.news
    display: flex
    flex-direction: column
    margin-top: 59px
    @media (min-width: 768px)
        margin-top: 120px
    @media (min-width: 1200px)
        max-width: var(--max-width)
        margin: 120px auto 0
        box-sizing: content-box
        padding: 0 40px
        justify-content: space-between
        gap: 20px
        flex-direction: row
        
.products
    padding: 0 0 0 16px
    @media (min-width: 768px)
        padding: 0 24px
    @media (min-width: 1200px)
        width: 1015px
        padding-left: 0px

.title
    margin-bottom: 32px
    color: var(--grey-800)
    font-size: 20px
    font-weight: 400
    line-height: 24px
    text-transform: uppercase
    padding: 0 16px
    @media (min-width: 768px)
        font-size: 32px
        line-height: 100%
        padding: 0 24px
    @media (min-width: 1200px)
        padding: 0

.card   
    width: 182px
    @media (min-width: 768px)
        width: 200px
    @media (min-width: 1200px)
        width: 300px

.img
    height: 122px
    border-radius: 217px
    @media (min-width: 768px)
        height: 134px
    @media (min-width: 1200px)
        height: 200px
    &_one
        background: url(./../../../../../public/news/1.png) center/cover no-repeat
    &_two
        background: url(./../../../../../public/news/2.png) center/cover no-repeat
    &_three
        background: url(./../../../../../public/news/3.png) center/cover no-repeat

.subtitle
    margin-top: -20px
    color: var(--grey-900)
    font-size: 32px
    font-weight: 400
    line-height: 33px
    text-transform: uppercase
    @media (min-width: 1200px)
        font-size: 48px
        line-height: 104%

.description
    color: var(--grey-700)
    font-size: 16px
    line-height: 18px
    margin: 8px 0
    @media (min-width: 768px)
        font-size: 20px
        line-height: 24px
        margin: 16px 0 12px
.price
    color: var(--grey-900)
    font-size: 18px
    font-style: italic
    @media (min-width: 768px)
        font-size: 20px

.arrows
    display: flex
    justify-content: flex-end
    max-width: var(--max-width)
    margin: 20px auto 0
    box-sizing: content-box
    padding: 0 40px
    padding: 0 16px
    @media (min-width: 768px)
        padding: 0 24px
    @media (min-width: 1200px)
        padding: 0 40px