.table
    margin-top: 43px

.row
    padding: 16px 0
    border-top: 1px solid var(--grey-300)
    border-bottom: 1px solid var(--grey-300)

.top
    display: flex
    justify-content: space-between
    gap: 8px

.image
    width: 80px
    height: 80px 
    background: url(./../../../../../public/hits/1.png) center/cover
    border: 1px solid var(--grey-200)

.sizes
    display: flex
    gap: 12px
    margin: 18px 0 24px

.size
    display: flex
    justify-content: center
    align-items: center
    padding: 2px 4px
    font-size: 12px
    border-radius: 5px
    padding-top: 2px
    cursor: pointer
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.active
    border: 1px solid var(--grey-400)

.save
    margin-bottom: 16px
    img
        width: 24px

.bottom
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 88px

.counter
    display: flex
    gap: 13px
    align-items: center
    img
        display: block

.count
    font-size: 14px
    line-height: 14px
    padding-top: 2px
    color: var(--grey-900)
    
.price
    font-size: 16px
    color: var(--grey-900)
    font-style: italic
