.title
  color: black
  text-transform: uppercase
  font-size: 26px
  font-weight: 400
  line-height: 31.2px
  text-align: center
  margin-bottom: 82px
  @media (min-width: 768px)
    font-size: 32px
    line-height: 33.28px
    max-width: 553px
    margin: 0 auto

.rhomb1
  background: url("./../../../../../public/paidRecording/phomb1M.png") center/contain no-repeat
  width: 200px
  height: 200px
  margin: -60px auto -140px
  position: relative
  z-index: -1

  @media (min-width: 768px)
    position: absolute
    right: 0
    z-index: 1


.rhomb2
  background: url("./../../../../../public/paidRecording/сomponent.png") center/contain no-repeat
  width: 200px
  height: 200px
  margin: -200px auto -140px
  position: relative
  z-index: -1
  padding-top: 31px
  @media (min-width: 768px)
    position: absolute
    left: 0



.row
  display: flex
  justify-content: center
  flex-direction: column
  @media (min-width: 768px)
    position: relative

.subtitle1
  color: black
  text-transform: uppercase
  font-size: 24px
  font-weight: 400
  line-height: 31.92px
  margin: 0 auto
  max-width: 190px
.subtitle2
  color: black
  text-transform: uppercase
  font-size: 24px
  font-weight: 400
  line-height: 31.92px
  margin: 110px auto
  text-align: center



.borderMain
  display: flex
  justify-content: center
.border1
  border: 1px solid #FF9838
  width: 342px
  height: 162px
  border-radius: 70px
  padding: 35px 31px 43px 37px
  margin-top: 77px
  background-color: var(--grey-25)
  @media (min-width: 768px)
    width: 468px
    height: 180px
    padding: 57px 118px 85px 72px
.border2
  border: 1px solid var(--purple-400)
  width: 342px
  height: 162px
  border-radius: 70px
  padding: 35px 31px 43px 37px
  margin-top: 60px
  background-color: var(--grey-25)

.text
  color: var(--grey-900)
  font-weight: 400
  font-size: 14px
  line-height: 18.62px
  min-width: 274px
  margin-bottom: 8px
  @media (min-width: 768px)

  &__link
    display: flex
    align-items: center



.link1
  color:  #FF9838
  font-size: 14px
  line-height: 18.62px
  font-weight: 400
  width: 191px
  text-decoration-line: underline

.link2
  color: var(--purple-400)
  font-size: 14px
  line-height: 18.62px
  font-weight: 400
  width: 191px
  text-decoration-line: underline

.svg1
  background: url("./../../../../../public/paidRecording/arrowRightM.svg")
  width: 32px
  height: 13px
.svg2
  background: url("./../../../../../public/paidRecording/arrowRight.png")
  width: 32px
  height: 13px
.btn
  border: 1px solid var(--grey-900)
  border-radius: 12px
  padding: 16px 24px
  background-color: var(--Primary-25)
  text-transform: uppercase
  color: var(--grey-900)
  font-size: 14px
  line-height: 18.62px
  font-style: italic
  font-weight: 400
  @media (min-width: 768px)
    position: absolute




  &__main
    display: flex
    justify-content: center
    margin-top: 16px
.letters
  display: flex
  justify-content: space-between
  margin-top: 263px
  margin-bottom: 500px

.d
  width: 24px
  height: 33px
.t
  width: 14px
  height: 33px
.m
  width: 30px
  height: 33px