.wrap
    display: flex
    align-items: center
    gap: 4px
    @media (min-width: 1200px)
        gap: 16px
.text
    display: none
    color: var(--grey-900)
    font-size: 14px
    line-height: normal
    text-transform: uppercase
    @media (min-width: 768px)
        display: inline