:root 
  --max-width: 1360px
  --doc-height: calc(100% - 68px)
  --light-purple: #FBFAFF
  --grey-900:#19171A
  --grey-800: #271F2B
  --grey-600: #6B5F71
  --grey-500: #8A7E8F
  --grey-700:#504655
  --grey-300: #DBD5DE
  --grey-25: #FDFCFD
  --primary-500: #C077ED

@font-face 
  font-family: 'Evolventa'
  src: url(./../assets/fonts/Evolventa-Regular.ttf)
  font-weight: 400
  font-style: normal


* 
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, p, input, li, ul, body
  padding: 0
  margin: 0

html
  font-size: 16px
  
body 
  overflow-x: hidden
  background: var(--light-purple)
  font-family: Evolventa
  font-size: 16px
  padding-bottom: 150px

a 
  color: inherit
  text-decoration: none

button
  border: none
  &:focus
    outline: none
.wrap
  max-width: var(--max-width)
  padding: 0 16px
  box-sizing: content-box
  margin: 0 auto
  @media ( min-width: 768px )
    padding: 0 24px
  @media ( min-width: 1200px )
    padding: 0 40px

input
  &:focus
    outline: none


.categories
  .swiper-slide
    width: 233px
    .img
      transition: .3s
  .swiper-slide-active
    width: calc(100% - 16px)
    .img
      height: 366px

.experts
  .swiper
    width: calc(100vw - 34px)
    margin: 0
    @media ( min-width: 768px )
      width: 100%

