.wrap
    display: flex
    max-width: var(--max-width)
    margin: 0 auto
    

.catalog
    display: flex
    width: 1015px
    letter-spacing: 0.64px
    text-transform: uppercase
    color: var(--grey-500)
    line-height: 112%
    position: relative
    flex-shrink: 0
    &__wrap
        position: absolute
        background: var(--light-purple)
        width: 100%
        padding: 50px 40px 100px
        z-index: 2
        left: 0
        top: 68px
        padding-top: 23px
       
.empty
    width: 345px
    flex-shrink: 1

.column
    display: flex
    flex-direction: column
    width: 350px

.categories
    position: absolute
    width: 320px
    left: 240px
    height: 100%
    top: 0
    visibility: hidden
    transition: .3s linear
    transform: translateX(-50px)
    opacity: 0

.item
    display: flex
    align-items: center
    justify-content: space-between
    padding: 4px 0
    width: 240px
    margin-bottom: 8px
    &:hover
        color: var(--Grey-900)
        
    &__wrap
        width: 240px
        &:hover
            width: 100%
            color: var(--Grey-900)
           
            .categories
                color: var(--grey-500)
                font-weight: 400
                visibility: visible
                transform: translateX(0px)
                opacity: 1
                .subitem
                    &:hover
                        color: var(--Grey-900)
                        
                        .subcategories
                            color: var(--grey-500)
                            font-weight: 400


.subcategories
    position: absolute
    width: 206px
    left: 280px
    top: 0
    visibility: hidden
    transition: .3s linear
    transform: translateX(-50px)
    opacity: 0
    z-index: 2
    &__item
        width: 240px
        padding: 0 0 0 40px

.subitem
    display: flex
    align-items: center
    width: 240px
    padding: 9px 0 9px 30px
    width: 100%
    &:hover
        .subcategories
            visibility: visible
            transform: translateX(0px)
            opacity: 1
