.save
    display: block
    cursor: pointer
    margin-right: 24px
    width: 28px
    height: 28px  
    @media( min-width:  1440px)
        margin-right: 16px
    img
        @media( min-width:  1440px)
            width: 100%
            height: 100%
        