.basket
    &__wrap
        width: 100%
        position: absolute
        top: 0
        right: 0
        min-height: 100vh
        z-index: 4
        background: rgba(72, 59, 81, 0.40)
        backdrop-filter: blur(0px)
        transition: .3s
        font-size: 16px
        line-height: 112.5%
        color: var(--grey-900)
            
.basket
    width: 100%
    position: absolute
    top: 0
    right: 0
    min-height: 100%
    background-color: var(--grey-25)
    padding: 16px
    @media (min-width: 768px)
        padding: 24px
    @media (min-width: 1200px)
        width: 720px
    // transform: translateX(100%)
    // animation: show .5s forwards
    // @keyframes show
    //     0%
    //         transform: translateX(70%)
    //     100%
    //         transform: translateX(0)

.slideEnter
    .basket
        right: -100vw
        
.slideEnterActive
    .basket
        transition: .5s
        right: 0


.slideExit 
    .basket
        right: 0

.slideExitActive
    .basket
        transition: .8s
        right: -100vw

.close
    display: flex
    justify-content: flex-end


.bag
    display: flex
    gap: 8px
    align-items: center
    &__text
        padding-top: 2px
        font-size: 26px
        line-height: 100%
        text-transform: uppercase
        @media (min-width: 768px)
            font-size: 32px
            padding-top: 6px
    img
        width: 28px
        @media (min-width: 768px)
            width: 40px
    span
        color: var(--grey-500)
        
.description
    margin-top: 133px
    letter-spacing: 0.64px
    text-transform: uppercase
    @media (min-width: 768px)
        width: 435px
        font-size: 24px
        letter-spacing: .48px
        line-height: 104%

.search
    display: flex
    align-items: center
    font-size: 14px
    text-transform: uppercase
    margin-top: 56px
    @media (min-width: 768px)
        margin-top: 72px

.circle
    margin-left: -14px