.header
    padding: 14px 0
    display: flex
    
.logo
    width: 345px
.group
    display: flex
    align-items: center
    &_right
        width: 325px
        margin-left: 20px
        justify-content: flex-end
    img
        display: block
    @media ( min-width: 1200px )
        order: 2
.nav
    align-items: center
    @media ( min-width: 1200px )
        width: 671px
        justify-content: space-between

