.wrap
    margin-bottom: 96px
    
.card
    border-radius: 16px
    color: var(--Grey-700)
    font-size: 14px
    border: 1px solid var(--Primary-200)
   

.card__top
    padding: 30px 24px
    background: url(./../../../../../public/points/1.png) 0 -65px/cover no-repeat
    border-top-left-radius: 16px
    border-top-right-radius: 16px

.title
    font-size: 24px
    color: var(--Grey-800)
    line-height: 130%
    letter-spacing: 0.48px
    text-transform: uppercase
    margin-bottom: 8px

.text
    display: flex
    gap: 3px
    &:not(&:last-child)
        margin-bottom: 4px
    span
        color: var(--Primary-700)

.border
    width: 26px
    height: 15px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 8px
    border: .5px solid var(--Primary-700)

.bottom
    padding: 24px
    color: var(--Grey-800)
    text-decoration: underline
    text-transform: uppercase
    text-align: center

.slider
    max-width: 560px
    margin: 0 auto 20px

.rail
    background: var(--Primary-200)
    height: 8px
    opacity: 1

.track
    background: var(--Primary-300)
    border: none
    height: 8px
    margin: 0 auto

.thumb
    background: var(--Primary-300)
    width: 12px
    height: 12px

.mark
    width: 32px
    height: 32px
    background-color: var(--Primary-200)
    border-radius: 50%
    opacity: 1
    z-index: 2
    margin-left: -17px
    &_active
        background: var(--Primary-800)
    &_label
        top: 11px
        z-index: 3
        color: var(--Primary-900)
        font-family: Evolventa
        font-size: 12px
        line-height: 1
        &_active
            color: #fff
            font-family: Evolventa
            font-size: 12px
            line-height: 1


.question
    margin-bottom: 10px

