.wrap
    margin-top: 64px

.content
    display: flex
    gap: 116px
    justify-content: space-between

.aside
    display: none
    @media (min-width: 768px)
        display: block

.width
    width: 1015px

.window
    margin-bottom: 24px


