.profile
    display: block
    gap: 116px
    @media (min-width: 768px)
        display: flex
    &__wrap
        margin-top: 64px

.hidden
    display: none
    
    @media (min-width: 768px)
        display: block