.text
    display: flex
    flex-direction: column
     
.title
    font-size: 24px
    font-weight: 400
    line-height: 112%
    @media (min-width: 768px)
        font-size: 32px
.actions
    margin: 24px 0
    display: flex
    flex-wrap: wrap
    gap: 10px 25px
    

.action
    display: flex
    align-items: center
    span
        text-transform: uppercase
        margin-left: -27px
        padding-top: 3px
    img
        width: 42px
        height: 42px

.description
    margin-bottom: 24px
    @media (min-width: 768px)
        margin-bottom: 32px 

.subtitle
    opacity: .8
    text-transform: uppercase

.sizes
    display: flex
    gap: 18px
    margin: 8px 0 24px

.size
    display: flex
    justify-content: center
    align-items: center
    width: 68px
    height: 27px
    border-radius: 5px
    color: var(--grey-600)
    padding-top: 2px
    cursor: pointer
    border: 1px solid #fff0
    transition: .2s
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.active
    color: var(--grey-900)
    border: 1px solid var(--grey-600)

.textGrey
    text-transform: uppercase
    display: flex
    align-items: center
    cursor: pointer
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    span
        opacity: .7
    svg
        margin: -2px 0 0 8px
        width: 11px

.oldPrice
    display: none
    @media (min-width: 1200px)
        display: flex
        align-items: center
        font-style: italic
        gap: 12px
        color: var(--grey-500)
        text-decoration: line-through
        img
            width: 20px
            display: block
            margin-top: -2px

.price
    font-size: 32px
    line-height: 100%
    text-transform: uppercase
    margin: 8px 0 12px

.btns
    display: flex
    gap: 16px
    margin-bottom: 24px
    order: -1
    margin-top: 12px
    @media (min-width: 768px) 
        order: 0
        margin-top: 0

.btn
    display: flex
    padding: 16px 32px
    justify-content: center
    align-items: center
    border-radius: 70px
    background: var(--grey-900)
    color: var(--grey-25)
    font-size: 16px
    line-height: 112.5%
    letter-spacing: 0.64px
    text-transform: uppercase
    width: calc(100% - 44px)
    @media (min-width: 768px)
        width: auto
    
.date
    font-size: 12px
    line-height: 133.333%
    margin: 8px 0

.more
    color: var(--grey-500)
    font-size: 12px
    line-height: 133.333% 

.colors
    display: flex
    gap: 4px
    margin-bottom: 24px

.color
    position: relative
    cursor: pointer
    &:hover
        .color__name
            opacity: 1            
    &__name
        position: absolute
        top: -45px
        left: -70px
        opacity: 0
        z-index: 2
        transition: .3s
        pointer-events: none
        span
            width: 100%
            text-align: center
            position: absolute
            top: 9px
            left: 0
            right: 0
            margin: 0 auto
            color: var(--Grey-600)
            font-size: 12px
            line-height: 133.333%
    &__border
        padding: 3px
        width: 32px
        height: 32px
        border-radius: 50%
        border: 1px solid #fff0
        &.active
            border-color: var(--Grey-600)
    &__image
        width: 24px
        height: 24px
        flex-shrink: 0
        border-radius: 50%
        transition: .3s
        
.old__price
    height: 20px